<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset ('bundles/ecopoint/css/fuente.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="cabecera">
            {% block cabecera %}
                <h1><font color="#CBCBFD" size="30">ECOPOINT</font></h1>
                <h3>
                    <ul id="nav">
        <li id="nav-1"><a href="{{ path('productos') }}">Productos</a></li>
	<li id="nav-2"><a href="{{ path('productos_buscar_producto') }}">Buscar producto</a></li>
        <li id="nav-3"><a href="{{ path('productos_new') }}">Ingresar nuevo producto</a></li>
	             </ul>
                </h3>
                
            {% endblock %}
        </div>
       
         <div id="cuerpo">
            {% block body %}{% endblock %}
        </div>
        
         <div id="pie">
            {% block pie %}
                <h6><font color="#CBCBFD">
                    CONTACTO -> ecopoint@hotmail.com
                    <br>
                    SITIO WEB -> ecopoint.com
                    </font></h6>
            {% endblock %}
        </div>
</html>
