{% extends 'ecopointBundle::layout.html.twig' %}


{% block body %}
<div id="texto">
    <center><h1>Productos</h1></center>

    <table class="records_list">
        <thead>
            <tr align="justify">
                <th>Id</th>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Material</th>
                <th>Capacidad</th>
                <th>Foto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
        <justify>
            <tr align="justify">
                <td><h3>{{ entity.id }}</h3></td>
                <td><h6>{{ entity.codigo }}</h6></td>
                <td><h4><a href="{{ path('productos_show', { 'id': entity.id }) }}">{{ entity.nombre }}</a></h4></td>
                <td><h5>{{ entity.marca }}</h5></td>
                <td><h5>{{ entity.material }}</h5></td>
                <td><h5>{{ entity.capacidad }}</h5></td>
                <td><img src="{{ asset('bundles/ecopoint/imagenes/'~ entity.foto  ~ '') }}"width=100px height=100px/>
                </td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('productos_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('productos_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
            </justify>
        {% endfor %}
        </tbody>
    </table>
</div>
        <ul>
        <li>
            <a href="{{ path('productos_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
