{% extends 'ecopointBundle::layout.html.twig' %}

{% block body -%}
    
<h1>Producto con código de barras "{{codigo}}":</h1>
<div id="texto"> 
   <table>
        <tbody>
        
            {% for entity in prod %}
            
          <center>  
        <h2><a href="{{ path('productos_show', { 'id': entity.id }) }}">{{ entity.nombre }}</a></h2>

        <img src="{{ asset('bundles/ecopoint/imagenes/'~ entity.foto  ~ '') }}"/>
                
        
                <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
                </tr>
                <tr>
                <th>Marca</th>
                <td>{{ entity.marca }}</td>
            </tr>
            <tr>
                <th>Material</th>
                <td>{{ entity.material }}</td>
            </tr>
            <tr>
                <th>Capacidad</th>
                <td>{{ entity.capacidad }}</td>
            </tr>
            <tr>
          </center>
        {% endfor %}
        </tbody>
    </table>
</div>
        <ul class="record_actions">
    <li>
        <a href="{{ path('productos') }}">
            Back to the list
        </a>
    </li>
</ul>
           
   
                

{% endblock %}
